/*---------- CSS RESET -----------*/
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
}
/*--------------------------------*/

/*------ Box Model Fix Here ------*/
* {
    -mox-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
/*--------------------------------*/

/*------------ HEADER ------------*/

header figure.logo {
    text-align: center;
    margin: 0px;
    width: 100%;
    padding-top: 10px;
}

header figure.logo img {
    width: 25%;
}
/*--------------------------------*/

/*---------- NAVIGATION ----------*/
nav {
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    background-color: #45596E;
    text-align: center;
    
}

nav ul.mainNav li {
    list-style-type: none;
    display: inline-block;
}

nav ul.mainNav li.active {
    background-color: #00356E;
}

nav ul.mainNav li a {
    display: block;
    padding: 8px 10px;
    color: #ffffff;
    font-size: 18px;
    text-decoration-line: none;
    border-bottom: 5px solid #45596E;
    padding-top: 12px;
}

nav ul.mainNav li a:hover {
    color: #96C0ED;
    border-bottom: 5px solid #aaa;
}

.keepOpen {
    clear: both;
}
/*--------------------------------*/

/*------------- MAIN -------------*/
    /* --- Images --- */
    div.headerImage {
        background-image: url("images/banner.jpg");
        background-size: cover;
        margin-top: -16px;
        margin-bottom: 20px;
    }

    div.overlay {
        width: 100%;
        background-color: rgba(51, 51, 51, .5);
    }

    div.overlay h1.title {
        text-align: center;
        color: #FFF;
        padding-top: 140px;
        padding-bottom: 150px;
        font-size: 48px;    
    }

figure.myPhotos {
    float: right;
    margin: 1em 12em 1em 1em;
    padding: .5em .5em 1em .5em;
    border: solid 1px;
    border-color: #333;
    background-color: white;
    width: 20%;
}

figure.myPhotos img {
    height: 100%;
    width: 100%;
}

figcaption {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-align: center;
    padding-top: .5em;
    font-size: 1em;
}

.myGallery figcaption {
    font-family: 'Amatic SC', cursive;
    font-weight: bolder;
    text-align: center;
    padding: .3em 0em 1em 0em;
    font-size: 1.5em;
}

figure.myGallery {
    float: left;
    margin: 3rem 2rem;
    border: solid 1px;
    border-color: #333;
    background-color: white;
    width: 20%;
}

figure.myGallery img {
    padding: .8em;
    width: 100%;
}

.media {
    margin: 3rem 5rem;
}

    /* -------------- */
main p, main ul, main ol, main blockquote {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 1.5em 8em;
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    font-family: 'Amatic SC', cursive;
    font-weight: normal; 
}

main ol.services {
    color: #333333;
    list-style-type: square;
}

main ul.contact {
    color: #333333;
    list-style-type: circle;
}

main .interiorHeading {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 35px;
    background-color: #45596E;
    margin: 0px;
}

main .contactInfoBox {
    background-color: #7597BA;
    display: block;
    margin: 2em 10em;
    padding: 10px 10px;
    border-radius: 100px;
    text-align: center;
}

main .contactHeading {
    color: white;
    font-size: 30px;
}

main .contactInfoBox a {
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

main .far, main .fas {
    padding: 5px 0px;
    color: white;
    font-size: 48px;
}

main .titleInterior, main .subtitleInterior { /* WILL NEED TO PUT BACKGROUND IMAGE */
    margin: -17px;
    text-align: center;
    background-color: #00356E;
    color: white;
}

main .titleInterior {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 48px;    
}

main .subtitleInterior {
    padding-bottom: 70px;
}

main h1.sent-text {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    color: #FFF;
    background-color: slategray;
    margin-top: -16px;
}

main h2.sent-text {
    text-align: center;
    padding-bottom: 50px;
    color: #FFF;
    background-color: slategray;
    margin-bottom: -20px;
}

/*--------------------------------*/

/*------------ FOOTER ------------*/
footer {
    color: #ffffff;
    font-weight: lighter;
    font-family: 'Amatic SC', cursive;
    font-size: 18px;
    text-align: center;
    
    background-color: #333333;
    padding-bottom: 5px;
}

footer ul.mainNav li {
    font-family: 'Open Sans Condensed', sans-serif;
    display: inline-block;
    list-style-type: none;
}

footer ul.mainNav li a {    
    display: block;
    margin: 0px;
    padding: 8px 10px;
    color: #ffffff;
    font-size: 16px;
    text-decoration-line: none;
}

footer ul.mainNav li a:hover {
    color: #fff;
    background-color: #666;
}

footer ul.mainNav li.active {
    background-color: #666;
}

.keepOpen {
    clear: both;
}
/*--------------------------------*/

/*------------- MISC -------------*/
@media only screen and (max-width: 1024px) {
    figure.myGallery {
    float: left;
    margin: 3rem 2rem;
    border: solid 1px;
    border-color: #333;
    background-color: white;
    width: 40%;
}

figure.myGallery img {
    padding: .8em;
    width: 100%;
}
}


@media only screen and (max-width: 768px) {
    figure.myGallery {
    float: left;
    margin: 3rem 2rem;
    border: solid 1px;
    border-color: #333;
    background-color: white;
    width: 100%;
}

figure.myGallery img {
    padding: .8em;
    width: 100%;
}
}